<div class="container-fluid d-flex justify-content-center align-items-center shadow-sm" style="min-height: 100vh;">
    <div class="col-md-8 col-lg-4">
        <div class="container mt-4">
            <div class="row">
                <div class="col-sm-4">
                    <img [src]="photoUrl" class="img-fluid rounded-circle">
                </div>

                <div class="col-sm-8">
                    <div class="div-profile-name">
                        <h1 *ngIf="userInfo" class="name">{{ userInfo.name }}</h1>
                        <p *ngIf="userInfo" class="username">@{{ userInfo.username }}</p>
                        <p *ngIf="userInfo" style="padding-top: 0.5rem">User description...{{ userInfo.description }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="float: left;" *ngIf="userAuth.currentUser">
        <button class="btn edit-button" [routerLink]="'edit/' + userAuth.currentUser.uid">Editar</button>
    </div>
    
</div>