@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

:root {
  --white:#FFFFFF;
  --white-background: #F8F8F8;
  --gray-border: #CDCDCD;
  --gray-tag: #C4C4C4;
  --gray-line: #DCDCDC;
  --gray-dark-text: #3F3F3F;
  --black: #000000;
  --black-background: #121212;
  --gray-dark-background: #3E3E42;
  --light-blue: #00D8FF;
  --interaction-blue: #1A73E8;
  --material-blue: #3F51B5;
  --safeworks-blue: #2C3E50;
  --safeworks-yellow: #FFA500;
  --safeworks-yellow-hover: #FF7A00;
  --red-fire: #FF0000;
  --red-error: #DC3545;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif !important;
  margin: 0;
  height: 100%;
  background-color: var(--white-background);
}

html {
  height: 100%;
}

a{
  text-decoration: none;
}

.form-control {
  padding: 12px;
  border: 1px solid rgba(29, 60, 80, 0.6);
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 0 45px 0 45px;
}

.container-body {
  min-height: 88vh;
}

@media (max-width: 767px) {
  .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding-top: 60px;
  }
  .card-autentication {
    padding: 0;
  }
  .form-control {
    width: 100%;
  }
}

.title-autentication {
  font-weight: bold !important;
  font-size: 26px !important;
  line-height: 1.23px !important;
  border: none !important;
  margin: 15px 0 42px 0 !important;
  color: var(--safeworks-blue) !important;
}

.input-group-text {
  background-color: var(--safeworks-blue);
  color: var(--safeworks-yellow);
  opacity: 0.9 !important;
  border: 1px solid rgba(29, 60, 80, 0.6);
}

.validation-error {
  color: var(--red-error);
  margin-top: -10px;
}

.btn-autentication {
  background-color: var(--safeworks-blue);
  color: var(--safeworks-yellow);
  border: var(--safeworks-blue);
  opacity: 0.9;
}

.btn-autentication:hover {
  background-color: var(--safeworks-blue);
  color: var(--safeworks-yellow);
  border: var(--safeworks-blue);
  opacity: 1;
}

.link-safeworks {
  color:var(--safeworks-yellow) !important;
}

.link-safeworks:hover {
  color: var(--safeworks-yellow-hover) !important;
  font-weight: 500;
}

.logo-autentication {
  width: 115px; 
  height: 115px;
  margin-bottom: 25px;
}

.eye-icon {
  color: var(--safeworks-blue) !important;
}

.eye-button {
  position: absolute !important;
  top: 50%;
  right: 10px;
  transform: translateY(-50%) !important;
  z-index: 1 !important;
  border: none !important;
}

.eye-button:hover {
  background-color: transparent !important;
  color: var(--black) !important;
}

.row {
  margin-left: 0px !important;
}

.row > * {
  padding-left: 0 !important;
}

.blue-snackbar {
  background: #2196F3;
}
.snackbar-success {
  background: #1DE9B6 !important;
}
.snackbar-error {
  background: #B00020;
}
.loading-spinner {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}
.mat-spinner {
  ::ng-deep circle {
      stroke: #33dd82;
  }
}