<div class="container-fluid d-flex justify-content-center align-items-center">
    <div class="col-md-6 col-lg-4 text-center">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Página Inicial</a>
                        </li>
                        <li class="nav-item" *ngIf="userAuth.currentUser">
                            <a class="nav-link" routerLink="/profile" routerLinkActive="active">Perfil</a>
                        </li>
                        <li class="nav-item" *ngIf="!userAuth.currentUser">
                            <a class="nav-link" [routerLink]="'/login'" routerLinkActive="active">Login</a>
                        </li>
                        <li class="nav-item" *ngIf="userAuth.currentUser">
                            <a class="nav-link" [routerLink]="'/profile/edit/' + userAuth.currentUser.uid">Editar perfil</a>
                        </li>
                        <li class="nav-item"  *ngIf="userAuth.currentUser">
                            <a class="nav-link logout" (click)="logout()">Sair</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>