.search-input {
    width: 15rem;
    height: 2rem;
    border-radius: 20px;
    border: 1px;
    border-style: solid;
    border-color: var(--gray-line);
    padding-left: 1rem;
}

.modal-results {
    border-top: 1px;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    border-style: solid;
    border-color: var(--gray-line);
}

.job-result {
    border: 1px;
    border-style: solid;
    border-radius: 20px;
    border-color: var(--gray-line);
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.job-header {
    display: flex;
}

.job-media {
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.job-title {
    font-weight: 500;
    font-size: 1.2rem;
    padding-top: 0.3rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0;
    margin-bottom: 0;
}

.job-title:hover {
    text-decoration: underline;
    font-size: 1.25rem;
    cursor: pointer;
}

.job-description {
    padding-left: 0.5rem;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.job-price {
    color: var(--green-price);
    padding-left: 0.5rem;
}

