<div class="loading-spinner" *ngIf="isLoading">
    <mat-spinner [diameter]="85"></mat-spinner>
</div>
<div class="container container-body">
    <div class="row col-md-12" style="padding: 40px 5.6%;">
        <h1 style="font-size: 40px; font-weight: bold; color: #2d2d2d;">Editar perfil</h1>
    </div>
    <form [formGroup]="updateForm" #formDir="ngForm" (ngSubmit)="formDir.valid && updateUser()">
        <div class="row col-md-12" style="padding: 40px 5.6%; background-color: var(--white); border: 1px solid #ced0d4; border-radius: 1rem; width: 98% !important;">
            <div class="col-md-4">
                <div class="row">
                    <div class="input-field-edit">
                        <label for="fullName">Nome</label>
                        <input type="text" class="form-control " id="fullName" aria-describedby="fullName"
                            [formControl]="fullName" placeholder="Nome completo"
                            [ngClass]="{ 'is-invalid': fullName.invalid && formDir.submitted }">
                    </div>
                    <div class="row validation-error" *ngIf="fullName.invalid && formDir.submitted">
                        <p>O nome é obrigatório*</p>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field-edit">
                        <label for="cpf">CPF</label>
                        <input type="text" class="form-control" id="cpf" aria-describedby="cpf" placeholder="CPF"
                            [formControl]="cpf" mask="000.000.000-00"
                            [ngClass]="{ 'is-invalid': cpf.invalid && formDir.submitted }">
                    </div>
                    <div class="row validation-error"
                        *ngIf="(cpf.invalid || cpf.hasError('cpfInvalido')) && formDir.submitted">
                        <p>{{ cpfInvalidLabel }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field-edit">
                        <label for="telephone_number">Telefone</label>
                        <input type="text" class="form-control" id="telephone_number" aria-describedby="telephone"
                            [formControl]="telephone" placeholder="Número de telefone" prefix="+55 "
                            mask="(00) 00000-0000" [ngClass]="{ 'is-invalid': telephone.invalid && formDir.submitted }">
                    </div>
                    <div class="row validation-error" *ngIf="telephone.invalid && formDir.submitted">
                        <p>O telefone é obrigatório*</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="input-field-edit">
                        <label for="fullName">Nome de usuário</label>
                        <input type="text" class="form-control " id="username" aria-describedby="username"
                            placeholder="username" [formControl]="username">
                    </div>
                </div>
                <div class="row">
                    <div class="input-field-edit col-md-4">
                        <label for="state">Estado</label>
                        <select class="form-control" id="state" aria-describedby="state">
                            <option value="PR" selected>Paraná</option>
                        </select>
                    </div>
                    <div class="input-field-edit col-md-4">
                        <label for="city">Cidade</label>
                        <select class="form-control" id="city" aria-describedby="city">
                            <option value="CTBA" selected>Curitiba</option>
                        </select>
                    </div>
                    <div class="input-field-edit col-md-4">
                        <label for="district">Bairro</label>
                        <select class="form-control" id="district" placeholder="Bairro" aria-describedby="district"
                            [(ngModel)]="selectedDistrict" [formControl]="district">
                            <option value="" disabled selected>Selecione um bairro</option>
                            <option *ngFor="let district of districts" [value]="district.id">{{ district.name }}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div style="position: relative;" class="d-flex flex-column align-items-center justify-content-center">
                        <div class="logo-container profile-image rounded-circle img-fluid" id="logo-container" (click)="logoInput.click()" style="background-image: url('{{ urlProfileImage }}');">
                            <input type="file" class="form-control-file" #logoInput id="logo" name="logo" style="display: none;" (change)="onFileSelected($event)">
                        </div>
                        <label for="logo" class="change-image-label">
                            Alterar foto
                        </label>
                    </div>
                </div>
            </div>

            <div class="row d-flex flex-column align-items-center justify-content-center" style="background-color: var(--white);">
                <button class="btn btn-primary btn-autentication" style="width: 50%; border-radius: 2rem; margin-top: 2rem; margin-bottom: 0.5rem">
                    Atualizar perfil
                </button>
                <a class="btn btn-outline-secondary" routerLink="/profile" style="width: 50%; border-radius: 2rem;">
                    Cancelar
                </a>
            </div>

        </div>
    </form>

    <app-portfolio *ngIf="userInfo?.worker" [user]="userInfo"></app-portfolio>
</div>