<div class="container-fluid">
    <div class="row pt-4">
        <div class="col-md-12 text-center mb-2">
            <small> © 2023 made with <i class="fa fa-heart text-danger" aria-hidden="true"></i> by <span
                    class="text-secondary font-weight-bold">SafeWorks</span></small>
        </div>
        <div class="col-md-12 text-center mb-3">
            <a href="https://github.com/Safe-Works/SafeWorks" target="_blank"
                class="btn btn-sm bg-light text-dark shadow-sm rounded-circle text-light m-2"><i
                    class="fab fa-github"></i></a>
        </div>
    </div>
</div>