<div class="container-fluid d-flex justify-content-center align-items-center shadow-sm" style="min-height: 100vh;">
    <div class="col-md-6 col-lg-4">
        <div class="card">
            <div class="card-body card-autentication">
                <h3 class="card-title title-autentication">Crie a sua conta</h3>
                <form [formGroup]="registerForm" #formDir="ngForm">
                    <div class="mb-3 input-group">
                        <div class="input-group-text">
                            <span class="bi bi-person"></span>
                        </div>
                        <input [formControl]="fullName" type="text" class="form-control" placeholder="Nome completo"
                            [ngClass]="{ 'is-invalid': fullName.invalid && formDir.submitted }" id="inputFullName">
                    </div>
                    <div class="row validation-error" *ngIf="fullName.invalid && formDir.submitted">
                        <p>O nome é obrigatório*</p>
                    </div>
                    <div class="mb-3 input-group">
                        <div class="input-group-text">
                            <span class="bi bi-file-earmark-person"></span>
                        </div>
                        <input [formControl]="cpf" type="text" class="form-control" placeholder="CPF" id="inputCPF"
                            [ngClass]="{ 'is-invalid': cpf.invalid && formDir.submitted }">
                    </div>
                    <div class="row validation-error" *ngIf="cpf.invalid && formDir.submitted">
                        <p>{{ cpfInvalidLabel }}</p>
                    </div>
                    <div class="mb-3 input-group">
                        <div class="input-group-text">
                            <span class="bi bi-phone"></span>
                        </div>
                        <input [formControl]="celular" type="text" class="form-control" placeholder="Celular"
                            id="inputCelular" [ngClass]="{ 'is-invalid': celular.invalid && formDir.submitted }">
                    </div>
                    <div class="row validation-error" *ngIf="celular.invalid && formDir.submitted">
                        <p>O telefone é obrigatório*</p>
                    </div>
                    <div class="mb-3 input-group">
                        <div class="input-group-text">
                            <span class="bi bi-envelope"></span>
                        </div>
                        <input [formControl]="email" [ngClass]="{ 'is-invalid': email.invalid && formDir.submitted }" type="email" class="form-control" placeholder="E-mail"
                            id="inputEmail">
                    </div>
                    <div class="row validation-error" *ngIf="email.invalid && formDir.submitted">
                        <p>O Email é obrigatório*</p>
                    </div>
                    <div class="mb-3 input-group">
                        <div class="input-group-text">
                            <span class="bi bi-key"></span>
                        </div>
                        <input [formControl]="password" type="password" class="form-control inputPassword" id="password"
                            placeholder="Senha" [ngClass]="{ 'is-invalid': password.invalid && formDir.submitted }">
                    </div>
                    <div class="row validation-error" *ngIf="password.invalid && formDir.submitted">
                        <p>A senha é obrigatória*</p>
                    </div>
                    <div class="mb-3 input-group">
                        <div class="input-group-text">
                            <span class="bi bi-key"></span>
                        </div>
                        <input [formControl]="confirmPassword" type="password" class="form-control inputConfirmPassword"
                            id="confirmPassword" placeholder="Confirme a Senha" aria-label="Confirme a Senha"
                            [ngClass]="{ 'is-invalid': confirmPassword.invalid && formDir.submitted }">
                        <button type="button" class="btn btn-outline-secondary" (click)="toggleConfirmPassword()">
                            <span class="bi"
                                [ngClass]="{'bi-eye-slash': !showConfirmPassword, 'bi-eye': showConfirmPassword}"></span>
                        </button>
                    </div>
                    <div class="row validation-error" *ngIf="confirmPassword.invalid && formDir.submitted">
                        <p>Confirmação de senha é obrigatório*</p>
                    </div>
                    <div class="text-center mt-3">
                        <button class="btn btn-primary" style="width: 100%; border-radius: 30.4px; margin-top: 32px">
                            Criar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>