<app-navbar></app-navbar>
<div class="container-fluid d-flex justify-content-center align-items-center shadow-sm" style="min-height: 100vh;">
    <div class="col-md-6 col-lg-4">
        <div class="card">
            <div class="card-body card-autentication">
                <div class="text-center mt-3">
                    <img class="logo-autentication" src="../../assets/safeworks-logo.png" />
                </div>
                <h3 class="card-title title-autentication">Acesse sua conta</h3>
                <form [formGroup]="loginForm" #formDir="ngForm">
                    <div class="mb-3 input-group">
                        <div class="input-group-text">
                            <span class="bi bi-envelope"></span>
                        </div>
                        <input [formControl]="email" type="email" class="form-control" placeholder="E-mail"
                            id="inputEmail">
                    </div>
                    <div class="mb-3 input-group">
                        <div class="input-group-text">
                            <span class="bi bi-key"></span>
                        </div>
                        <input type="password" class="form-control inputPassword" id="inputPassword"
                            [formControl]="password" placeholder="Senha" aria-label="Senha">
                        
                        <button type="button" class="btn btn-outline-secondary eye-button" (click)="togglePassword()">
                            <span class="bi eye-icon"
                                [ngClass]="{'bi-eye-slash': !showPassword, 'bi-eye': showPassword}"></span>
                        </button>
                    </div>
                    <div class="row validation-error" *ngIf="wrongCredentials">
                        <p>E-mail ou senha inválidos.</p>
                    </div>
                    <div class="mt-3">
                        <a routerLink="/esqueceu-senha" class="link-primary forgot-password link-safeworks"
                            style="margin-top: 16px">Esqueceu sua
                            senha?</a>
                    </div>
                    <div class="text-center mt-3">
                        <button class="btn btn-primary btn-autentication"
                            style="width: 100%; border-radius: 30.4px; margin-top: 32px"
                            (click)="login()">Entrar</button>
                    </div>
                    <div class="mt-3 create-account">
                        <p style="color:#1d3c50">Ainda não possui uma conta?<a routerLink="/register"
                                class="btn btn-link link-safeworks">Cadastre-se</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>