<div class="loading-spinner" *ngIf="isLoading">
    <mat-spinner [diameter]="85"></mat-spinner>
</div>
<div *ngFor="let worker of favoriteUsers">
    <h2>Detalhes do Usuário</h2>
    <p><strong>Nome:</strong> {{ worker.name }}</p>

    <a (click)="worker.showDetails = !worker.showDetails">
        <i class="btn btn-outline-primary bi-chevron-{{ worker.showDetails ? 'up' : 'down' }}"></i>
    </a>

    <a (click)="deleteFavorite(worker.workerUid)" class="icon-link">
        <i class="bi-trash-fill btn btn-outline-primary"></i>
    </a>


    <div *ngIf="worker.showDetails">
        <p><strong>E-mail:</strong> {{ worker.email }}</p>
        <p><strong>Telefone:</strong> {{ worker.telephone_number }}</p>
        <p><strong>CPF:</strong> {{ worker.cpf }}</p>
        <p><strong>Data de Criação:</strong> {{ worker.created }}</p>
        <p><strong>Áreas de Atuação:</strong></p>
        <ul>
            <li *ngFor="let area of worker.worker.area">{{ area }}</li>
        </ul>

        <a (click)="redirectToUserDetails(worker.workerUid)">
            <i class="bi bi-person-fill btn btn-outline-primary">
                Ir para o perfil
            </i>
        </a>
    </div>

</div>

<div class="no-favorites-message" *ngIf="favoriteUsers && favoriteUsers.length === 0">
    <p>Você não posssui favoritos</p>
</div>
