
#progressbar-1 {
    color: var(--safeworks-blue);
}

#progressbar-1 li {
    list-style-type: none;
    font-size: 13px;
    width: 25%;
    float: left;
    position: relative;
}
#progressbar-1 .step0:before {
    content: "1";
    color: var(--white);
    width: 1.8rem;
    margin-left: 1.5rem;
    padding-left: 0.7rem;
}
#progressbar-1 .step1:before {
    content: "2";
    color: var(--white);
    width: 1.8rem;
    margin-left: 1.5rem;
    padding-left: 0.7rem;
}

#progressbar-1 .step2:before {
    content: "3";
    color: var(--white);
    width: 1.8rem;
}

#progressbar-1 .step3:before {
    content: "4";
    color: var(--white);
    width: 1.8rem;
    margin-right: 1.5rem;
    text-align: center;
}

#progressbar-1 li:before {
    line-height: 1.8rem;
    display: block;
    font-size: 0.75rem;
    background: var(--safeworks-blue);
    border-radius: 50%;
    margin: auto;
}

#progressbar-1 li:after {
    content: '';
    width: 121%;
    height: 2px;
    background: var(--safeworks-blue);
    position: absolute;
    left: 0%;
    right: 0%;
    top: 1rem;
    z-index: -1;
}

#progressbar-1 li:nth-child(1):after {
    left: 50%;
    width: 121%;
}
#progressbar-1 li:nth-child(2):after {
    left: 25%;
    width: 121%;
}

#progressbar-1 li:nth-child(3):after {
    left: 25%;
    width: 130%;
}
#progressbar-1 li:nth-child(4):after {
    left: 25%;
    width: 0%;
}
#progressbar-1 li.active:before,
#progressbar-1 li.active:after {
    background: var(--interaction-blue);
}

#complaint-progressbar {
    color: var(--safeworks-blue);
}

#complaint-progressbar li {
    list-style-type: none;
    font-size: 13px;
    width: 33.33%;
    float: left;
    position: relative;
}

#complaint-progressbar .step1:before {
    content: "1";
    color: var(--white);
    width: 1.8rem;
    margin-left: 1.5rem;
    padding-left: 0.7rem;
}

#complaint-progressbar .step2:before {
    content: "2";
    color: var(--white);
    width: 1.8rem;
}

#complaint-progressbar .step3:before {
    content: "3";
    color: var(--white);
    width: 1.8rem;
    margin-right: 1.5rem;
    text-align: center;
}

#complaint-progressbar li:before {
    line-height: 1.8rem;
    display: block;
    font-size: 0.75rem;
    background: var(--safeworks-blue);
    border-radius: 50%;
    margin: auto;
}

#complaint-progressbar li:after {
    content: '';
    width: 121%;
    height: 2px;
    background: var(--safeworks-blue);
    position: absolute;
    left: 0%;
    right: 0%;
    top: 1rem;
    z-index: -1;
}

#complaint-progressbar li:nth-child(2):after {
    left: 50%
}

#complaint-progressbar li:nth-child(1):after {
    left: 25%;
    width: 121%
}

#complaint-progressbar li:nth-child(3):after {
    left: 25%;
    width: 50%;
}

#complaint-progressbar li.active:before,
#complaint-progressbar li.active:after {
    background: var(--interaction-blue);
}

.card-stepper {
    z-index: 0
}

a {
    color: var(--interaction-blue);
    font-size: 1rem;
}

span {
    font-size: 0.75rem;
}

.action-button {
    color: var(--interaction-blue);
    cursor: pointer;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}

.min-width-div {
    min-width: 25rem;
}

.icons button:hover i {
    color: gold; /* Cor das estrelas preenchidas quando o mouse passa por cima */
}

.buttonEvaluate:hover {
    font-weight: bold;
    text-decoration: underline;
    font-style: normal;
    cursor: pointer;
}

.bi{
    color: gold;
}