<div>
    <h4 class="mb-4 text-muted">{{title}}</h4>
    <div class="row">
      <div class="card-body" *ngIf="!isLoading">
        <div class="row col-md-12" style="padding: 40px 5.6%; background-color: white; border: 1px solid #ced0d4;">
            <mat-paginator id="mat-paginator-top" [length]="totalItems" [pageSize]="pageSize"
                [pageSizeOptions]="[5, 10, 25, 50]" [pageIndex]="currentPage - 1" (page)="onPageChange($event)"
                aria-label="Select page">
            </mat-paginator>
            <app-card-post 
                [title]="title"
                [items]="items"
                [totalItems]="totalItems"
                [currentPage]="currentPage"
                [pageSize]="pageSize"
                [isLoading]="isLoading"
                [titleProperty]="titleProperty"
                [showActions]="showActions"
                [editJobHandler]="editJobHandler"
                [deleteJobHandler]="deleteJobHandler"
            >
            </app-card-post>
            <div *ngIf="!isLoading && items.length === 0" class="no-jobs-message">
                Nenhum serviço encontrado.
            </div>
            <mat-paginator id="mat-paginator-bottom" [length]="totalItems" [pageSize]="pageSize"
                [pageSizeOptions]="[5, 10, 25, 50]" [pageIndex]="currentPage - 1" (page)="onPageChange($event)"
                aria-label="Select page">
            </mat-paginator>
        </div>
    </div>
</div>