<nav class="navbar navbar-expand-md fixed-top navbar-dark flex-fill">
  <div class="navbar-header pl-2 pr-2 ml-3 text-center">
    <a class="navbar-brand m-0 w-100" href="/#/jobs">
      <img src="../../../assets/safeworks-logo.png" alt="safeworks logo" width="35px">
      <span class="ml-1">SafeWorks</span>
    </a>
  </div>
  <div class="sidebar-toggler" *ngIf="userAuth.currentUser">
    <a class="btn nav-link" (click)="toggleSidebar()"><i class="fa fa-bars"></i></a>
  </div>
  <div class="nav-toggler-right mr-4 d-md-none" *ngIf="userAuth.currentUser">
    <button class="" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
      aria-controls="collapseBasic">
      <img src={{profilePhoto}} class="img-fluid" alt="">
    </button>
    <span class="user-profile nav-alert bg-danger"></span>
  </div>
  <ul class="navbar-nav flex-fill mt-1 align-items-center left-nav">
    <li class="nav-item navicon" *ngIf="userAuth.currentUser">
      <a class="btn nav-link" (click)="toggleSidebarPin()"><i class="fa fa-bars"></i></a>
    </li>
    <li class="nav-item flex-fill">
      <input class="form-control navbar-search" type="text" placeholder="Pesquisar . . .">
    </li>
  </ul>
  <div class="collapse navbar-collapse right-nav" id="collapseBasic" [collapse]="isCollapsed">
    <ul class="navbar-nav" *ngIf="userAuth.currentUser">
      <li class="nav-item">
        <a [routerLink]="'/profile'" (click)="isCollapsed = !isCollapsed" class="btn nav-link" title="Ver perfil">
          <i class="far fa-user"></i>
          <span class="link-text">Perfil</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="btn nav-link" (click)="logout(); isCollapsed = !isCollapsed" title="Sair">
          <i class="fas fa-sign-out-alt"></i>
          <span class="link-text">Sair</span>
        </a>
      </li>
    </ul>
  </div>
  <ul class="navbar-nav" *ngIf="!userAuth.currentUser">
    <li class="nav-item">
      <a class="btn nav-link" [routerLink]="'/login'" title="Entrar"
        style="color: var(--safeworks-yellow); border-color: var(--safeworks-yellow); padding: 5px; margin-right: 15px;">
        <span>Entrar</span>
      </a>
    </li>
  </ul>
</nav>