<div class="container container-body">
    <div class="row col-md-12" style="padding: 40px 5.6%;">
        <h1 style="font-size: 40px; font-weight: bold; color: #2d2d2d;">Anúncios disponíveis</h1>
    </div>
    <div class="card-body" style="margin-bottom: 40px">
        <div class="row col-md-12" style="padding: 40px 5.6%; background-color: white; border: 1px solid #ced0d4;">
            <mat-paginator id="mat-paginator-top" [length]="totalJobs" [pageSize]="pageSize"
                [pageSizeOptions]="[5, 10, 25, 50]" [pageIndex]="currentPage - 1" (page)="onPageChange($event)"
                aria-label="Select page">
            </mat-paginator>

            <div class="card-list" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start start" fxLayoutGap="20px">
                <div class="loading-spinner" style="position: relative;" *ngIf="isLoading">
                    <mat-spinner [diameter]="85"></mat-spinner>
                </div>
                <mat-card (click)="viewJob(job)" *ngFor="let job of jobs" class="job-card" [id]="job.uid"
                    [hidden]="isLoading">
                    <mat-card-content>
                        <div class="card-image"
                            [ngStyle]="{'background-image': job.media && job.media.length > 0 ? 'url(' + job.media[0] + ')' : 'url(../../assets/default-pic.png)'}">
                        </div>
                        <mat-card-title>{{ job.title }}</mat-card-title>
                        <p class="card-price">{{ job.price |
                            currency:'BRL' }} / {{ job.price_type.name }}</p>
                        <p class="card-category">{{ job.category.name }}</p>
                        <p class="card-district">{{ job.district.name }}</p>
                    </mat-card-content>
                </mat-card>
            </div>
            <div *ngIf="!isLoading && jobs.length === 0" class="no-jobs-message">
                Nenhum serviço encontrado.
            </div>
            <mat-paginator id="mat-paginator-bottom" [length]="totalJobs" [pageSize]="pageSize"
                [pageSizeOptions]="[5, 10, 25, 50]" [pageIndex]="currentPage - 1" (page)="onPageChange($event)"
                aria-label="Select page">
            </mat-paginator>
        </div>
    </div>
</div>