<div class="card-title mb-1 p-3 d-flex">
    <h6>Anúncios por segmento</h6>
    <a class="btn ml-auto p-0 text-lightning" > <i class="fas fa-ellipsis-h" (click)="optionsClick()"></i> </a>
</div>
<div class="card-body">
    <div class="chart-container d-flex h-100 align-items-center justify-content-center" style="position: relative;">
        <canvas *ngIf="dataLoaded" baseChart type="doughnut" [data]="pieChartDataset"
            [options]="pieChartOptions"></canvas>
    </div>
</div>
<div class="card-footer"></div>